.currentStats {
  text-align: center;
}
body {
  background-image: url(../images/grey_wash_wall.png);
  margin: 0;
}
.filters {
  margin-left: 100px;
}
.filters select {
  padding: 5px;
}
.logo {
  height: 60px;
  float: left;
  padding-right: 15px;
}
.icon {
  height: 60px;
  float: right;
  padding-right: 15px;
}
.c-icon {
  height: 140px;
  padding-top: 10px;
}
.hidden {
  visibility: hidden;
}
